.layout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  padding: 20px;
  border-radius: 14px;
  background-color: #fff;
}

.grid {
  display: grid;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-header {
  padding: 24px;
  display: flex;
}

.overlay-title-section {
  flex: 1;
}

.overlay-title {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.overlay-description {
  margin-top: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.overlay-header-close {
  cursor: pointer;
  color: #fff;
}
